@import "../variables";
@import "../theme-colors";

.dashboard-widgets {
  &.dashboard-icon-widget {
    display: flex;
    flex-direction: row;
    align-items: center;

    .col-3 {
      max-width: fit-content;
    }

    .icon-wrapper {
      width: 50px;
      height: 50px;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: $default-radius;
      background-color: $brand-color;
    }
    .bg-sky-1 {
      background-color: $color-sky-1;
    }
    .bg-sky-4 {
      background-color: $color-sky-4;
    }
    .bg-orange-1 {
      background-color: $color-orange-1;
    }
    .color-green-1 {
      background-color: $color-green-1;
    }

    .widget-data {
      margin-left: 0.75rem;
    }
  }

  .widget-data {
    h6 {
      margin-bottom: 0;
    }

    p {
      font-size: 80%;
      margin-bottom: 0;
      color: $default-secondary-color;
    }
  }
}
.border-color-green {
  border-color: $color-green-1 !important;
}
.bg-image{
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: $color-green-1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-custom {
  .p-primary {
    padding: 1rem !important;
  }
}